.login-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.login-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Form Fields in Modal by ID */
#modal_username,
#modal_email, 
#modal_password,
#modal_password_conf,
#modal_role {
    width: calc(100% - 30px);
    padding: 12px 15px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
}

#modal_username:focus,
#modal_email:focus,
#modal_password:focus,
#modal_password_conf:focus,
#modal_role:focus {
    border-color: #007BFF;
    outline: none;
}