body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #9dc5eb, #f0f0f0);
    height: 100vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff; /* White background for the table */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Increased padding for better spacing */
    text-align: center;
}

th {
    background-color: #3498db; /* Blue header */
    color: #fff; /* White text for header */
}

.time-header {
    font-weight: bold;
    color: #333; /* Dark gray text for time headers */
}

th:hover {
    background-color: #2980b9;
    color: #fff;
}

th, td {
    transition: background-color 0.3s, color 0.3s;
}

h2 {
    text-align: center;
}

.buttons-container {
    text-align: center;
    margin-bottom: 20px;
}

.styled-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

.styled-button.selected {
    background-color: #2c3e50; 
}

.styled-button:hover {
    background-color: #1e5b82;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

form:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

select:focus {
    border-color: #3498db;
}

select option {
    background-color: #fff; 
    color: #333; 
    padding: 10px;
}


select option:checked {
    background-color: #3498db;
    color: #fff;
}

select option:hover {
    background-color: #3498db;
    color: #fff;
}


input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
    border-color: #3498db;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

